@use "../../utils" as *;

.products {
  padding: 8rem 14rem;
  &__title {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: normal;
    text-align: center;

    & > span {
      font-weight: 800;
    }
  }

  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      color: rgba($black, 0.5);
    }

    a:hover,
    a.active {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    color: rgba($black, 0.5);
  }

  a:hover,
  a.active {
    color: $black;
    border-bottom: 1px solid $black;
  }
}

.product-cards {
  padding: 2rem 0;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
  // grid-template-rows: repeat(2, 4rem);
}
