@use '../../utils' as *;
@use '../../mixins' as *;

.hero {
  position: relative;
  background-image: url('./hero-banner.png');
  background-size: cover;
  height: 55rem;
  display: flex;
  justify-content: center;
  padding: 7rem;
  flex-direction: column;

  @include respond(bp-4) {
    padding: 2rem;
  }

  &__trend {
    position: relative;
    margin-left: 4.5rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: $red;
  }

  &__trend::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: $red;
    position: absolute;
    left: -4rem;
    top: 6px;
  }

  &__title {
    font-family: 'Reem Kufi';
    font-weight: bold;
    line-height: 1.2;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    span:nth-child(1) {
      font-size: 4.8rem;
      font-weight: 400;
      font-family: $poppins;
    }

    span:nth-child(2) {
      font-size: 6.4rem;
      font-family: $reem-kufi;
      @include respond(bp-4) {
        font-size: 4rem;
      }
    }
  }

  &__link,
  &__link:hover,
  &__link:active,
  &__link:visited {
    text-transform: uppercase;
    color: $black;
  }

  &__scroll {
    position: absolute;
    right: -5rem;
    bottom: 10%;
    rotate: -90deg;
    text-transform: uppercase;
    color: $black;
    &::before {
      background-color: $black;
      height: 1px;
    }

    @include respond(bp-15) {
      display: none;
    }
  }
}
