@use '../../utils' as *;

.subcollection {
  min-height: 30rem;
  display: flex;
  align-items: flex-end;
  padding: 0 6rem;
  background-color: $brown;

  &__text-box {
    margin-bottom: 4rem;

    & > :nth-child(1) {
      text-transform: uppercase;
      font-size: 1.4rem;
      color: rgba($white, $alpha: 0.7);
    }
    & > :nth-child(2) {
      color: yellow;
    }
    & > :nth-child(3) {
      color: yellow;
    }
  }
}
