// color variables
$red: #c32929;
$light-grey: #eff0f2;
$medium-grey: #e5e2dd;
$dark-grey: #d9d9d9;
$ultra-light-grey: #f7f7f7;
$cream: #f5e6e1;
$brown: #ac7148;
$black: #000000;
$white: #ffffff;
// fonts variables
$poppins: 'Poppins', sans-serif;
$reem-kufi: 'Reem Kufi', sans-serif;
