@use "../../index.scss" as *;
.collection {
  padding-inline: 100px;
  margin-block: 100px;
  //   background-color: bisque;
  background-repeat: no-repeat;
  height: 48rem;
  display: flex;
  gap: 15px;

  &-left {
    background-attachment: fixed;
    background-image: url("./left.png");
    background-position: 80% bottom;
    background-repeat: no-repeat;
    width: 50%;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;

    &_top {
      background-position: 80% bottom;
      background-color: $medium-grey;
      background-image: url("./right1.png");
      background-repeat: no-repeat;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 40px;
    }

    &_bot {
      display: flex;
      gap: 15px;
      height: 50%;
      height: 50%;

      &-left {
        width: 50%;
        background-color: $light-grey;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px;
        background-image: url("./right 2.png");
        background-repeat: no-repeat;
        background-position: 80% bottom;
      }

      &-right {
        width: 50%;
        background-color: $cream;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px;

        & > p {
          font-size: 14px;
          text-transform: lowercase;
        }
      }
    }
  }
}
